
@font-face {
    font-family: 'quicksandlight';
    src: url('./assets/fonts/quicksand/quicksand-variablefont_wght-webfont.woff2') format('woff2'),
         url('./fonts/quicksand/quicksand-variablefont_wght-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

header {
    text-align: center;
}

body {
    font-family: 'quicksandlight';
}

form.new-transaction {
    width: 795px;
}

.button { 
    background-color: #C9F5B8; /* Green */
    border: 1px solid black;
    color: black;
    font-family: 'quicksandlight';
    font-size: 10px;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.button:hover {
    border: 1px solid white;
    color: white;
    cursor: crosshair;
}
  
.transactions-container {
    display: table;
}

.row  {
    display: table-row;
}

.col-one, .col-two, .col-three, .col-four, .col-five {
    display: table-cell;
}

div[budget-data-id] {
    background-color: #E3E5E3;
    padding: 10px;
    margin: 5px;
}

.budget-header {
    background-color: #fff;
    display: flex;
    justify-content: space-evenly;
}

.item-one {
    flex-grow: 4;
    font-family: arial;
}

.delete-budget {

}

.display-transactions {

}